**/.godot
**/.commitsage

**/dev/docs/architecture
**/dev/docs/prompts


**/shader_cache
**/assets
**/addons
**/script_templates
**/data/tres
**/*_back

**/*.uid
**/*.tmp
**/*.import
**/*.db-journal

**/__pycache__/
